* {
	box-sizing: border-box;
}

body {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	background: url(../images/bg.jpg) no-repeat; 
	background-color: #666666;
	color: #FFCC00;
}

header {
	background: #000;
}

.center {
	width: 1200px;
	height: 140px;
}

a {
	color: #FFCC00;
}

a:hover {
	color: #949494;
}

nav {
	padding: 5px 0px 5px 0px;
	width: 1200px;
	display: inline-block;
}

nav a {
	color: #FFCC00;
	font-family: 'Cinzel';
	font-weight: black;
	font-size: 25px; 
}

button {
	color: #FFCC00;
	font-size: 25px;
	float: right;
	padding: 10px;
}

@media screen and (min-width: 1090px) {
	button {
		display: none;
	}
}

@media screen and (max-width: 1090px) {
	nav {
		display: none;
	}
}

h1 {
	font-family: 'Cinzel';
}

h2 {
	font-family: 'Cinzel';
	font-size: 32px;
}

h3 {
	font-family: 'Bitter';
	font-size: 25px
}

.sidebar h3 {
	font-size: 20px;
	border-bottom: solid 2px #9E9797;
}

p {
	font-family: 'Bitter';
	color: #FFE063;
}

p:hover {
	color: #F3F2F2;
}

.banner-menu {
	padding-top: 20px;
}

.media-list {
	column-count: 2;
	column-gap: 5px;
	list-style: none;
	width: 200px;
}

.media-list li {
	width: 10px;
}

.media-list:hover {
    transform: scale(1.2);
}

label {
	color: #FFCC00;
	font-size: 25px;
	font-family: 'Cinzel';
	padding: 15px;
}

input[type="text"] {
	width: 200px;
	height: 20px;
	border-radius: 5px;
}

.radio {
	padding: 10px;
}

.radio:hover {
    transform: scale(1.2);
}

.orbit-container {
	width: 700px;
}

.orbit-image {
	width: 700px;
}

.orbit p {
	text-decoration: underline;
	padding-top: 3px;
}


@media screen and (max-width: 980px) {
    .sidebar {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
	.orbit-container
	.orbit-image {
		width: 670px;
	}
}

@media screen and (max-width: 700px) {
	.orbit-container
	.orbit-image {
		max-width: 400px;
	}
}

@media screen and (max-width: 360px) {
	.orbit-container
	.orbit-image {
		max-width: 300px;
	}
}

.article {
	border-top: solid 2px #9E9797;
	margin-top: 20px;
	padding-top: 20px;
}

footer {
	background: #000;
}

h4 {
	font-family: 'Bitter';
	text-align: center;
}