* {
	box-sizing: border-box;
}

body {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	background: url(../images/bg.jpg) no-repeat; 
	background-color:#666666;
	color: #FFCC00;
}

header {
	display: inline-block;
}

.center {
	width: 1150px;
	height: 140px;
}

a {
	color: #FFCC00;
}

nav {
	background: black;
	padding: 5px 0px 5px 0px;
}

nav a {
	color: #FFCC00;
	font-size: 20px; 
}

.media-list {
	column-count: 2;
	column-gap: 5px;
	list-style: none;
	width: 200px;
}

.media-list li {
	width: 10px;
}

label {
	color: #FFCC00;
	font-size: 30px;
}

input[type="text"] {
	width: 200px;
	height: 20px;
}

.orbit-container {
	width: 700px;
}

.orbit-image {
	width: 700px;
}

footer {
	background: black;
}

footer nav li {
	display: inline;
}